/*! variable */

$fontsize0: 14px;
$color-border: #e6e6e6;
$pct: %;
$dirlist: top,
bottom,
left,
right;

/*! color */

.bgcolor-transparent {
    background-color: transparent;
}

.bgcolor-white {
    background-color: #fff;
}

.color-transparent {
    color: transparent;
}

.color-white {
    color: #fff;
}

.color-black {
    color: #000;
}

.color-333 {
    color: #333;
}

.color-666 {
    color: #666;
}

.color-999 {
    color: #999;
}

.color-theme {
    color: $color-theme;
}

.color-darkRed {
    color: #d0323d;
}

.color-green {
    color: #3bc666;
}


/*! font-size */

.fontsizeInherit {
    font-size: inherit;
}

@for $i from -6 through 10 {
    .fontsize#{$i} {
        font-size: $fontsize0 + $i;
    }
}

.fontsize30 {
    font-size: 30px;
}


/*! margin padding */

.marginXauto {
    margin-left: auto;
    margin-right: auto;
}

$i: 30;
@while $i>-1 {
    .margin#{$i}X {
        margin-top: #{$i}px;
        margin-bottom: #{$i}px;
    }
    .marginX#{$i} {
        margin-left: #{$i}px;
        margin-right: #{$i}px;
    }
    .padding#{$i}X {
        padding-top: #{$i}px;
        padding-bottom: #{$i}px;
    }
    .paddingX#{$i} {
        padding-left: #{$i}px;
        padding-right: #{$i}px;
    }
    $i: $i - 5;
}

.paddingtop70 {
    padding-top: 70px;
}

.paddingtop50 {
    padding-top: 50px;
}

$i: 30;
@while $i>-1 {
    @each $dir in $dirlist {
        .margin#{$dir}#{$i} {
            margin-#{$dir}: #{$i}px;
        }
        .padding#{$dir}#{$i} {
            padding-#{$dir}: #{$i}px;
        }
    }
    $i: $i - 5;
}

$i: 100;
@while $i>30 {
    @each $dir in $dirlist {
        .margin#{$dir}#{$i} {
            margin-#{$dir}: #{$i}px;
        }
        .padding#{$dir}#{$i} {
            padding-#{$dir}: #{$i}px;
        }
    }
    $i: $i - 10;
}


/*! border */

.bordernone {
    border: none!important;
}

.border1 {
    border: 1px solid $color-border;
}

.border1transparent {
    border: 1px solid transparent;
}

@each $dir in $dirlist {
    .border#{$dir}1 {
        border-#{$dir}: 1px solid $color-border;
    }
}


/*! border-radius */

.borderRadius50 {
    border-radius: 50%;
}

@each $i in 3,
5 {
    .borderRadius#{$i} {
        border-radius: #{$i}px;
    }
}


/*! float */

.floatLeft {
    float: left;
}

.floatRight {
    float: right;
}


/*! width */

@each $i in 25,
33,
50,
100 {
    .width#{$i} {
        width: #{$i}#{$pct};
    }
}


/*! height */

.height50 {
    height: 50px;
}


/*! line-height */

$i: 50;
@while $i>15 {
    .lineheight#{$i} {
        line-height: #{$i}px;
    }
    $i: $i - 5;
}

.fontsize55 {
    font-size: 55px;
}


/*! display */

.block {
    display: block!important;
}

.inlineBlock {
    display: inline-block;
}

.displayNone {
    display: none;
}


/*! position */

.relative {
    position: relative;
}

.absolute {
    position: absolute;
}

.fixed {
    position: fixed;
}

.center {
    position: absolute;
}

.translateX {
    left: 50%;
    transform: translateX(-50%);
}

.middle {
    position: absolute;
}

.translateY {
    top: 50%;
    transform: translateY(-50%);
}

.centerMiddle {
    position: absolute;
}

.translateXY {
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

$i: 20;
@while $i>-20 {
    @each $dir in $dirlist {
        .#{$dir}#{$i} {
            #{$dir}: #{$i}px;
        }
    }
    $i: $i - 5;
}


/*! text-align */

.textAlignCenter {
    text-align: center;
}

.textAlignLeft {
    text-align: left;
}

.textAlignRight {
    text-align: right;
}


/*! rotate */

.rotate90 {
    transform: rotate(90deg);
}

.rotate180 {
    transform: rotate(180deg);
}


/*! flex */

.flex-justify {
    display: flex;
    justify-content: space-between;
}

.flex-align {
    display: flex;
    align-items: center;
}

.flex-align-justify {
    display: flex;
    align-items: center;
    justify-content: center;
}

.flex-align-start {
    display: flex;
    justify-content: flex-start;
    align-content: center;
}

.flex-align-end {
    display: flex;
    justify-content: flex-end;
    align-content: center;
}

.flex-baseline {
    display: flex;
    align-items: baseline;
}

.flex-spacearound {
    display: flex;
    justify-content: space-around;
}

.flex-spacebetween {
    display: flex;
    justify-content: space-between;
}

.flex-align-spacearound {
    @extend .flex-align;
    @extend .flex-spacearound;
}

.flex-align-spacebetween {
    @extend .flex-align;
    @extend .flex-spacebetween;
}

.flex-baseline-spacearound {
    @extend .flex-baseline;
    @extend .flex-spacearound;
}

.flex-baseline-spacebetween {
    @extend .flex-baseline;
    @extend .flex-spacebetween;
}

.flex-nowrap {
    display: flex;
    flex-wrap: nowrap;
}

.flex-column-spacebetween {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.flex-column-spacearound {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.itemflex-00auto {
    flex: 0 0 auto;
}

.itemflex-11auto {
    flex: 1 1 auto;
}


/*! 100% */

.width100 {
    width: 100%;
}

.width50 {
    width: 50%;
}

.height100 {
    height: 100%;
}

.minWidth1200 {
    min-width: 1200px;
}


/*! cursor */

.cursorPointer {
    cursor: pointer;
}

.cursorDefault {
    cursor: default;
}


/*! justify */

.justify {
    text-align: justify;
    text-align-last: justify;
}

.justify:after {
    display: inline-block;
    content: '';
    width: 100%;
}

.c-justify {
    text-align: justify;
}


/*! opacity */

.opacity0 {
    opacity: 0;
}

.opacity1 {
    opacity: 1;
}


/*! work-break */

.breakall {
    word-break: break-all;
}

.breakword {
    word-break: break-word;
}

.prewrap {
    white-space: pre-wrap;
}


/*! scroll */

.scroll-x {
    overflow-x: scroll;
}

.scroll-y {
    overflow-y: scroll;
}

.scroll-auto {
    overflow: auto;
}


/*! other */

.bold {
    font-weight: bold;
}

.clear {
    overflow: hidden;
}

.nowrap {
    white-space: nowrap;
}

.lineEllipsis {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

$i: 5;
@while $i>0 {
    .moreLineEllipsis#{$i} {
        display: -webkit-box;
        overflow: hidden;
        text-overflow: ellipsis;
        -webkit-line-clamp: #{$i};
        -webkit-box-orient: vertical;
    }
    $i: $i - 1;
}

.inlineMiddle {
    display: inline;
    vertical-align: middle;
}


/*! mixin */

@mixin mixin-whb($width, $height, $border) {
    width: $width;
    height: $height;
    border: $border;
}

@mixin mixin-btn($minwidth, $minheight, $paddingtb, $paddinglf) {
    min-width: $minwidth;
    min-height: $minheight;
    padding: $paddingtb $paddinglf;
}

.radius-icon {
    display: inline-block;
    position: relative;
    top: -2px;
    left: 6px;
    width: 6px;
    height: 6px;
    border-radius: 50%;
}

.bg-red {
    background: #DB524B;
}

.bg-green {
    background: #58B957;
}

.bg-yellow {
    background: #EE9800;
}