$color-bar: #2A3F54;
$color-text: #425B77;
$color-bg: #F7F7F7;
$color-theme: #00BC9C;
$color-theme-hover: #00A085;
$color-theme-click: #02856F;
$color-input: #333333;
$color-paragraph: #666666;
$color-tip: #999999;
$color-outline: #cccccc;
$color-border: #E6E6E6;
$color-white: #FFFFFF;
$color-orange: #F6A810;
$color-red: #DB524B;
$color-blue: #539CDB;
$color-green: #58B957;
$color-lightblue: #56C0E0;
$color-orange-hover: #EE9800;
$color-red-hover: #CB2E25;
$color-blue-hover: #2F79B9;
$color-paragraph-hover: #525252;
$color-green-hover: #44A343;
$color-lightblue-hover: #38A1C1;
$color-orange-click: #D48500;
$color-red-click: #BD1E15;
$color-blue-click: #1360A2;
$color-paragraph-click: #424242;
$color-green-click: #329C31;
$color-lightblue-click: #2491B2;
$fontsize-normal: 14px;
$fontsize-big: 16px;
$fontsize-bigger: 18px;
$fontsize-small: 12px;